---
{{ frontmatter_yaml }}---
# {{ title }}
{% if posting_content -%}
Found {{ date_found }} via {{ source }}.
{% if classification_callout -%}
{{ classification_callout }}
{% endif -%}
## Posting (fetched {{ date_found }})
{{ posting_content }}
{%- else -%}
Found {{ date_found }} via {{ source }}. No posting content fetched.
{% if classification_callout -%}
{{ classification_callout }}
{% endif -%}
{%- endif %}
